html{
    cursor: url(./imagens/mata_mosca.png) 30 30, auto;
}

body{
    background-image: url(./imagens/bg.jpg);
    background-repeat: no-repeat;
}

.mosca1{
    width: 50px;
    height: 50px;
}

.mosca2{
    width: 70px;
    height: 70px;
}

.mosca3{
    width: 90px;
    height: 90px;
}

.ladoA{
    transform: scaleX(1);
}

.ladoB{
    transform: scaleX(-1);
}

.painel{
    display: flex;
    flex-direction: column;
    gap: 17px;
    position: absolute;
    width: 190px;
    padding: 10px;
    bottom: 0;
    left: 0;
    border-top: 1px solid #fff;
    background-color: #fff;
    opacity: 0.7;
}

.vidas{
    float: left;
}

.cronometro{
    float: left;
    font-size: 20px;
    font-weight: bold;
}

@media (width > 799px){
    body{
        background-size: 100%;
    }
}